html, body {height: 100%;}
body {
    overflow:auto;
}
.h1, h2, h3, h4, h5, h6{
    color: #4D4D4D;
    font-weight: 500;
}

.wrapper{
    min-height: 100%;
}
.container{
    background: #fff;
    /*border: 1px solid #F2F1F1;*/
    -webkit-box-shadow: 0 0 13px #868686;
    -moz-box-shadow: 0 0 13px #868686;
    -o-box-shadow: 0 0 13px #868686;
    box-shadow: 0 0 13px #868686;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
    overflow:auto;
    padding-bottom: 40px;

}
.logo{
    margin: 10px;
}
.link-list li {
    display: inline;
}

.register-form {
    background-color: #ccc;
    padding: 20px;
}
.dnavMain {
    background: -moz-linear-gradient(center top , #494949 0px, #242424 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF !important;
    display: block;
    float: left;
    font-size: 14px;
    width: 960px;
}
.inline-ul{
    display: block;
    margin: 0 0 10px;
}
.inline-ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.inline-ul > li:last-child{
    /*margin-right: 0;*/
}
.nav-tabs{
    padding: 0 20px;
    margin-bottom: 0;
}
.tab-content{
    border: 1px solid #ddd;
    border-top: none;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus, .tab-content{
    background-color: #fafafa;
}
.table{
    background-color: #fff;
}
#footer {
    position: relative;
    height: 40px;
    clear:both;
    width: 940px;
    margin: auto;
    margin-top: -40px;
    border-top: 4px solid #CA471E;
    background-color: #333;
    color: #ccc;
    -webkit-box-shadow: 0 0 13px #868686;
    -moz-box-shadow: 0 0 13px #868686;
    -o-box-shadow: 0 0 13px #868686;
    box-shadow: 0 0 13px #868686;
}
#footer p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 11px;
}

/*Miscellaneous*/
.margin-t{
    margin-top: 10px !important;
}
.margin-b{
    margin-bottom: 10px !important;
}
.margin-r{
    margin-right: 10px !important;
}
.margin-l{
    margin-left: 10px !important;
}
.margin-n{
    margin: 0 !important;
}
.spacer{
    margin: 10px !important;
}
.highlight-bg{
    background-color: #f2f1f1;
}
.v-align-m{
    vertical-align: middle !important;
}
.v-align-t{
    vertical-align: top !important;
}
.v-align-b{
    vertical-align: bottom !important;
}
.inline-blk{
    display: inline-block;
}
.width-50{
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
    float: left;
}


.loading {
    opacity: 0.5;
}

.page-header {
    margin-bottom:0;
}


.p10 {
    padding:10px;
    background-color: #FAFAFA;
}

.nav-tabs > li > a {
    color:#333;
}